<!--
 * @Descripttion: 
 * @version: v1.0.0
 * @Author: 田江
 * @Date: 2019-11-10 09:30:43
 * @LastEditors: 田江
 * @LastEditTime: 2019-11-10 11:43:53
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
 </head>
 <body>
    <div id="app">
        <person name='张三疯' 
            v-bind:age="age" 
            v-bind:is-marry="isMarry" 
            :books="books" 
            :couple="couple"
            v-bind="address"
        ></person>
    </div>
 </body>
 </html>
 <script src="js/vue.js"></script>
 <script>
//1、属性名不区分大小写，如果在组件内声明的属性名是驼峰命名法，那么在标签中使用时，用对应的短横线写法
//2、Prop 类型限制
//3、Prop的验证（类型验证，必填，默认值）

let person = {
    props:{
        'name':{
           type:String,
           required:true 
        },
        'age':{
            type:Number,
            default:25
        },
        isMarry:{
            type:Boolean
        },
        books:{
            type:Array
        },
        couple:{
            type:Object
        },
        province:String,
        city:String,
    },
    data(){
        return {           
        }
    },
    template:`
        <div>
           <p>{{name}}</p>
           <p>{{age}}</p>
           <p>{{isMarry?"已婚":"未婚"}}</p>
           <p>所阅读过的书籍：</p>
           <ul>
            <li v-for="book in books">{{book}}</li>
           </ul>
           <p>配偶：</p>
           <ul>
              <li v-for="(value,key) in couple">{{key+":"+value}}</li>
           </ul>
           <p>住址：</p>
           <p>{{province}}{{city}}</p>
        </div>
    `
}

 let vm = new Vue({
     el:"#app",
     data:{
         age:12,
         isMarry:false,
         books:['钢铁是怎样炼成的','鲁宾逊漂流记','简爱'],
         couple:{
             name:"rose",
             sex:"女",
             age:25
         },
         address:{
             province:"陕西",
             city:"西安市"
         }
     },
     components:{
        person:person
     }
 });

 </script>